<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h4>Register</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="fullName" class="form-label">Full Name</label>
              <input
                type="text"
                class="form-control"
                id="fullName"
                [(ngModel)]="form.fullName"
                name="fullName"
                placeholder="Enter your full name"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                [(ngModel)]="form.email"
                name="email"
                placeholder="Enter your email"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                [(ngModel)]="form.password"
                name="password"
                placeholder="Enter password"
              />
            </div>
            <div class="mb-3">
              <label for="password_confirmation" class="form-label"
                >Confirm Password</label
              >
              <input
                type="password"
                class="form-control"
                id="password_confirmation"
                [(ngModel)]="form.password_confirmation"
                name="password_confirmation"
                placeholder="Confirm password"
              />
            </div>
            <div class="mb-4">
              <label for="role" class="form-label">Role</label>
              <select
                class="form-select"
                id="role"
                [(ngModel)]="form.role"
                name="role"
                (change)="onSelectChange($event)"
              >
                <option selected disabled>Select your role</option>
                <option value="teacher">Teacher</option>
                <option value="student">Student</option>
              </select>
            </div>
            <button
              type="submit"
              class="btn btn-primary w-100"
              (click)="onSubmit()"
            >
              Register
            </button>
          </form>
        </div>
        <div class="card-footer text-center">
          <small>Already have an account? <a href="#">Login here</a></small>
        </div>
      </div>
    </div>
  </div>
</div>
