<div
  class="profile-container d-flex flex-column align-items-center justify-content-center p-4 text-center"
>
  <h2 class="mb-3">Firulescu Denis Andrei</h2>

  <div class="profile-picture-wrapper mb-3">
    <div class="profile-picture">
      <img
        src="assets/profile.jpg"
        alt="Profile Picture"
        class="profile-image"
      />
    </div>
  </div>

  <p class="lead mb-4 profile-description">
    Passionate about mathematics and technology, avid reader and friendly
    company.
  </p>

  <h3 class="mb-3">About the project</h3>
  <p class="project-description">
    This project has been made for the dissertation project under the
    supervision of Elvira Popescu. The frontend UI is made in Angular and the
    backend uses Laravel, and the DBMS is PostgreSQL.
  </p>
</div>
